body{
    min-width:700px;  
    background-color: #f6f9fc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .title{
    color: 1px solid rgba(0,0,0,0.8);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 20px
  }
  .text{
    color: 1px solid rgba(0,0,0,0.8);body{
      min-width:700px;  
      background-color: #f6f9fc;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .title{
      color: 1px solid rgba(0,0,0,0.8);
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      margin: 20px
    }
    .text{
      color: 1px solid rgba(0,0,0,0.8);
      font-weight: bold;
      font-size: 15px;
      height: 24px;
      line-height: 24px;
      margin-right: 10px;
    }
    .content{
      text-align: center;
    }
    .canvas{
      cursor: crosshair;
      margin-top: 20px;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      
    }
    .controls{
      margin-top:20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .controls__width, .controls__height{
      color: 1px solid rgba(0,0,0,0.8);
      font-size: 15px;
      height: 18px;
      width: 50px;
      margin-right: 10px;
      padding-left: 5px;
    }
    .controls__btns{
      margin-top: 20px;
    }
    button{
      all: unset;
      cursor: pointer;
      background-color: white;
      padding: 5px 0px;
      width: 80px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      border: 1px solid rgba(0,0,0,0.2);
      color: 1px solid rgba(0,0,0,0.8);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
    }
    button:active{
      transform: scale(0.98);
    }
    .controls__size{
      display: flex;
    }
    .controls__colors{
      margin-top:20px;
      display: flex;
    }
    .controls__color {
      margin-left: 5px;
      width: 50px;
      cursor: pointer;
      border-radius: 25px;
      height: 50px;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      color: 1px solid rgba(0,0,0,0.8);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      line-height: 50px;
    }
    .controls__color:active{
      transform: scale(0.98);
    }
    .controls__color__clicked{
      border-color: #4195fc;
      box-shadow: 0px 0px 15px #4195fc;
    }
    input[type=range]{
      -webkit-appearance: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 300px;
      height: 5px;
      background: #ddd;
      border: none;
      border-radius: 3px;
    }
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: grey;
      margin-top: -4px;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #ccc;
    }
  
  
    /* 크기조절
    html, body {
      width:  100%;
      height: 100%;
      margin: 0;
    } */
    font-weight: bold;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
  }
  .content{
    text-align: center;
  }
  .canvas{
    cursor: crosshair;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    
  }
  .controls{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .controls__width, .controls__height{
    color: 1px solid rgba(0,0,0,0.8);
    font-size: 15px;
    height: 18px;
    width: 50px;
    margin-right: 10px;
    padding-left: 5px;
  }
  .controls__btns{
    margin-top: 20px;
  }
  button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0,0,0,0.2);
    color: 1px solid rgba(0,0,0,0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
  }
  button:active{
    transform: scale(0.98);
  }
  .controls__size{
    display: flex;
  }
  .controls__colors{
    margin-top:20px;
    display: flex;
  }
  .controls__color {
    margin-left: 5px;
    width: 50px;
    cursor: pointer;
    border-radius: 25px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: 1px solid rgba(0,0,0,0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    line-height: 50px;
  }
  .controls__color:active{
    transform: scale(0.98);
  }
  .controls__color__clicked{
    border-color: #4195fc;
    box-shadow: 0px 0px 15px #4195fc;
  }
  input[type=range]{
    -webkit-appearance: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: grey;
    margin-top: -4px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }


  /* 크기조절
  html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  } */