<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SoftLand Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel = 'stylesheet'>
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel = 'stylesheet'>
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel = 'stylesheet'>
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel = 'stylesheet'>
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel = 'stylesheet'>
  <link href="{{ url_for('static', filename='css/styles/custom-responsive-styles.css') }}" rel = 'stylesheet'>
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel = 'stylesheet'>

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel = 'stylesheet'>

  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- =======================================================
  * Template Name: SoftLand - v4.10.0
  * Template URL: https://bootstrapmade.com/softland-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- TESTIMONIALS -->
<section id="만든 사람들" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-heading">
            <h2>About Us</h2><br>
            <p class="text-muted mb-0"> 파이널 프로젝트 2팀 <br> 인절미 </p>
          </div>
          <div id="customers-testimonials" class="owl-carousel">
            <div class="item">
              <div class="shadow-effect">
                <img src="{{ url_for('static', filename='images/jungeun.png') }}" class="img-circle" alt="">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="testimonial-name">안정은</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img src="{{ url_for('static', filename='images/hyebin.png') }}" class="img-circle" alt="">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
              </div>
              <div class="testimonial-name">박혜빈</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img src="{{ url_for('static', filename='images/jieun.png') }}" class="img-circle" alt="">
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
              </div>
              <div class="testimonial-name">백지은</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img src="{{ url_for('static', filename='images/jiyoung.png') }}" class="img-circle" alt="">
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
              </div>
              <div class="testimonial-name">임지영</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img src="{{ url_for('static', filename='images/donghwan.png') }}" class="img-circle" alt="">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
              </div>
              <div class="testimonial-name">정동환</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img src="{{ url_for('static', filename='images/huihyun.png') }}" class="img-circle" alt="">
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
              </div>
              <div class="testimonial-name">박희현</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img src="{{ url_for('static', filename='images/dongryul.png') }}" class="img-circle" alt="">
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
              </div>
              <div class="testimonial-name">김동률</div>
            </div>
              <div class="item">
                <div class="shadow-effect">
                  <img src="{{ url_for('static', filename='images/seungwoo.png') }}" class="img-circle" alt="">
                  <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                </div>
                <div class="testimonial-name">송승우</div>
            </div>
          </div>
      </div>
    </div>

</section>
<section class="content-section text-center" id="Portfolio">
  <div class="container">
    <div class="block-heading">
      <h2>Portfolio</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="portfolio-wrapper clearfix">
      <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-two.jpeg">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="/static/images/p-two.jpeg">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Title</h5>
            <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-three.jpeg">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="/static/images/p-three.jpeg">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Title</h5>
            <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-four.jpeg">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="/static/images/p-four.jpeg">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Title</h5>
            <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-five.jpeg">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="/static/images/p-five.jpeg">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Title</h5>
            <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-six.jpeg">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="/static/images/p-six.jpeg">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Title</h5>
            <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-three.jpeg">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="/static/images/p-three.jpeg">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Title</h5>
            <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      
    </div>
  </div>
</section>


</section>
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="javascript:void(0)">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright © Your Website 2018</p>
    <p class="text-muted small mb-0">Designed by <a href="https://www.position2.com/" target="_balnk">Position2</p>
  </div>
</footer>

  <!--scripts-->
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/all-plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins-activate.js') }}"></script>

</body>

</html>